/*  eugene */

footer {
    background-color: hsl(255, 11%, 22%);
    height: 260px;
    margin: 0px;
    color: white;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.shortly {
    text-align: left;
}

.links {
    margin-top: 3%;
    margin-left: 15%;
    display: flex;
}

.features,
.resources,
.company {
    margin: 20px 40px;
}

h3 {
    font-size: 17px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .links {
        display: block;
        margin: auto;
        padding: auto;
    }
}

.icon {
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 768px) {
    .icon {
        height: 17px;
        width: 17px;
        margin: 5px;
    }
}

@media screen and (max-width: 768px) {
    .shortly {
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    footer {
        display: block;
        height: initial;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .icons {
        display: block;
    }
}


/* roops */


/* section__1 */

.headers {
    margin: 0;
    padding: 6rem;
    background-color: grey;
    background-blend-mode: multiply;
    background-image: url(images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.header {
    text-shadow: 2px 2px 2px black;
}

.header h2 {}

.btnGS {
    margin: 5% 10%;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
}


/* .crd {
    height: 300px;
    width: 80%;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-flow: row;
    transform: translateY(-40%);
    background-color: white;
} */


/* .desc {
    width: 50%;
    text-align: center;
    margin-left: 1rem;
}

.desc h5 {
    margin: 20px;
    text-align: left;
} */


/* .crd iframe {
    width: 40%;
    height: 100%;
} */


/* section__2 */

.eduBoard {
    margin: 30px;
}


/* 
.items {
    display: flex;
    margin: auto;
    padding: 10px;
} */

.item {
    width: 350px;
    text-align: center;
    margin: auto;
}

.item img {
    height: 170px;
    /*transform: translateY(-40%);*/
    /*border-radius: 20px;*/
}


/*media queries*/

@media (max-width: 700px) {
    .headers {
        padding: 1rem;
        height: 100vh;
    }
    .header {
        width: 100%;
    }
    .header h2 {
        font-size: 2rem;
    }
    /* .crd {
        height: unset;
        width: 100%;
        padding: 1rem;
        display: block;
        transform: none;
    } */
    /* .desc {
        width: 100%;
        text-align: center;
        margin-left: auto;
    }
    .desc h5 {
        text-align: justify;
    } */
    /* .crd iframe {
        width: 100%;
    }
    .crd img {
        display: none;
    } */
    /* section__2 */
    .eduBoard {
        margin: unset;
    }
    .items {
        display: block;
        padding: 0px;
        margin: 10px;
    }
    .item {
        width: 100%;
        text-align: center;
        margin: unset;
    }
    .item img {
        height: 100px;
        transform: unset;
    }
}

.card-pop {
    transform: translate(0, 0);
    transition: all 1s;
}

.card-pop:hover {
    transform: translate(0, -2%);
}

.rotate-border {
    padding: 7px;
    transform: rotate(0deg);
    border: 0px solid white;
    transition: all .5s;
    /* animation-name: rotating;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate; */
}


/* @keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.rotate-border:hover {
    border: 3px dashed white;
}

.principal-text-bg {
    background-image: url('https://www.business.com/images/content/600/6e62b9c658a5f418b4567/1500-0-');
    /*height: 500px;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.principal-text {
    line-height: 1.5;
    /*margin: 10px;*/
}
.principal-text h5{
    padding: 20px;
}
#hundreds {
    animation-name: rotating;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: alternate-reverse;
}
.txt{
    padding: 0px;
}

@keyframes rotating {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(5%, 0);
    }
    50% {
        transform: translate(7%, -15%);
    }
    75% {
        transform: translate(5%, -30%);
    }
    100% {
        transform: translate(-5%, 15%)
    }
}

.search{
    width: 300px;
    padding: 5px;
}
.search i{
    margin: 10px 5px;
    float: right;
}

/*@@@@@@@@@@@@@@@@@@@@**__ABOUT__ **@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.about{
    text-align: center;
}
.abH{
    background-image: url(images/about-bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 1rem;
    background-color: grey;
    background-blend-mode: multiply;
    margin: auto;
}
.abH h1{
    font-size: 4rem;
    color: white;
}
.mission{
    margin: 50px 30px;
}
.values{
    background-color: #e6e6e6;
    padding: 20px;
}
.grp2{
    display: flex;
    margin-top: 20px;
}
.vl{
    text-align: left;
    margin: 30px;
    width: 500px;
    /*border: 1px solid black;*/
    margin: 30px auto;
    height: 130px;
}
.grp2 img{
    width: 40%; 
}
.history{
    margin: 5rem;
}
.history p{
    text-align: left;
    margin-left: 2rem;
}
.navbar-brand{
    display: none;
}
@media (max-width: 700px){
    .abH{
        padding: 7rem;
        background-image: url(images/about-bg2.jpg);
    }
    .abH h1{
        font-size: 2.5rem;
    }
    .grp2{
        display: block;
    }
    .values{
        padding: 4rem;
    }
    .vl{
        width: 100%;
        height: auto;
    }
    .grp2 img{
        height: auto;
        width: 100%;    
    }
    .history{
        margin: 1.5rem;
    }
    .history p{
        text-align: left;
        margin: 30px;
    }
    
    .navbar-brand{
        display: block;
    }
}

/*@@@@@@@@@@@@@@@@@@@@**__CONTACT__ **@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.contact{
    text-align: center;
    background-color: #4d4d4d;
    background-image: url(images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /*height: 100vh;*/
    padding-top: 3rem;
}
.contact-us{
    display: flex;
    padding: 3rem;
}
.social{
    text-align: left;
    margin: 2rem;
}
.msg{
    text-align: left;
    margin: 10px auto;
    background-color: white;
    padding: 20px;
}
form{

    margin: 10px;
}
input{
    display: block;
    width: 300px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.icons i{
    margin: 10px;
}

@media (max-width: 900px){
    .contact-us{
        display: block;
        padding: 2rem;
    }
    .social{
        text-align: center;
    }
    .msg{
        padding: 15px;
    }
    input{
        display: block;
        width: 90%;
        padding: 15px;
        border: none;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
    }

    .icons i{
        margin: 10px;
    }

}